/* Ajuste de la navbar para desktop*/

.nav__toggle 
{
  display: none;
}

.nav__menu 
{
  flex-direction: row;
}

.nav__menu li 
{
  display: block;
}


/* Contenido del apartado de viajes para desktop */

.content-viajes
{
  background-color: #3b3b3b;
  height: 30%;
  width: 100%;
}